* {
    box-sizing: border-box;
}

:root {
    --Azul: #4A4C91;
    --AzulOscuro: #343576;
    --DoradoClaro: #DFD398;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

}
.HeaderInicio {
    background-color: var(--Azul);
    height: 25vh;
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.HeaderInicio h1{
    color: var(--DoradoClaro);
    font-size: 5rem;

}
.NavNavegacion{
    background-color: var(--AzulOscuro);
    height: 12vh;
}