* {
    box-sizing: border-box;
}

:root {
    --Azul: #4A4C91;
    --AzulClaro: #6d6fa3;
    --AzulOscuro: #343576;
    --DoradoClaro: #DFD398;
    --GrisClaro: #eeeeee;
    --Gris: #999999;
    --GrisOscuro: #757575;
    --Blanco: #f8f8fa;
    --Negro: #101010;
}


body {
    margin: 0;
    font-size: 18px;

}
main{
    
    font-family: Arial, sans-serif;
}
.HeaderInicio {
    
    display: flex;
    background-color: var(--Azul);
    height: 25vh;
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.HeaderInicio a{
    margin-right: 2%;
    background-color: var(--Azul);
    border: 1px solid var(--Blanco);
    padding: 8px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--Blanco);
}
.HeaderInicio a:hover{
    color: var(--AzulClaro);
}
.HeaderInicio h1{
    color: var(--DoradoClaro);
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
}
.HeaderChico{
    display: flex;
    background-color: var(--Azul);
    height: 20vh;
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 65px;
    position: sticky;
    top: 0;
    z-index: 2;
    padding-left: 30px;
}
.HeaderChico a{
    margin-left: auto;
    margin-right: 2%;
    background-color: var(--Azul);
    border: 1px solid var(--Blanco);
    padding: 8px;
    border-radius: 3px;
    text-decoration: none;
    color: var(--Blanco);

}

.HeaderChico a:hover{
    color: var(--AzulClaro);
}
.HeaderChico h1{
    color: var(--DoradoClaro);
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
}
.NavNavegacion{
    display: flex;
    background-color: var(--AzulOscuro);
    height: 8vh;
    margin: 0;
    flex-direction: row-reverse;
    padding: 5px;
}
.NavNavegacion a{
    text-decoration: none;
    color: var(--Negro);
}
.NavNavegacion a:hover{
    color: var(--Blanco);
}
.FormBuscar{
    display: flex;
    justify-content: right;
    margin: 2% 2% 2% auto;
    font-size: 1.2rem;
}
.FormBuscar input{
    border: 1px solid var(--Gris);
    border-radius: 20px;
    padding: 3px;
    text-indent: 8px;
}
.FormBuscar button{
    border: none;
    background-color: var(--Blanco);
    border-radius: 20px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: var(--AzulOscuro);
    color: var(--Blanco);
    padding: 1px;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
}

.ASubir {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--Negro);
}

.ASubir:hover{
    color: var(--AzulClaro);
}

.SectionBotones{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.ABotones{
    display: flex;
    width: 8%;
    margin-top: 2%;
    margin-right: 52%;
    border: 1px solid var(--Negro);
    background-color: var(--Azul);
    color: var(--Blanco);
}


.ButtonSalones{
    background-color: var(--Blanco);
    color: var(--Azul);
    padding: 18px;
    font-size: 2rem;
    border: 1px solid var(--Gris);
    border-radius: 10px;
    margin-top: 5%;

}
.ButtonInventario{
    background-color: var(--Blanco);
    color: var(--Azul);
    padding: 18px;
    font-size: 2rem;
    border: 1px solid var(--Gris);
    border-radius: 10px;
    margin-top: 5%;

}
.ButtonTickets{
    background-color: var(--Blanco);
    color: var(--Azul);
    padding: 18px;
    font-size: 2rem;
    border: 1px solid var(--Gris);
    border-radius: 10px;
    margin-top: 5%;

}
.ButtonSolicitudes{
    background-color: var(--Blanco);
    color: var(--Azul);
    padding: 18px;
    font-size: 2rem;
    border: 1px solid var(--Gris);
    border-radius: 10px;
    margin-top: 5%;

}

@media (max-width: 768px) {
    .HeaderChico{
        display: flex;
        padding-right: 5%;
    }
    .HeaderChico img{
        display: none;
    }
    .HeaderInicio{
        display: flex;
        padding-right: 5%;
    }
    .HeaderInicio img{
        display: none;
    }
    .SectionImagen img{
        width: 80%;
        height: 80%;
    }
}