* {
    box-sizing: border-box;
}

:root {
    --Azul: #4A4C91;
    --AzulClaro: #6d6fa3;
    --AzulOscuro: #343576;
    --DoradoClaro: #DFD398;
    --GrisClaro: #eeeeee;
    --Gris: #999999;
    --GrisOscuro: #757575;
    --Blanco: #f8f8fa;
    --Negro: #101010;
}

.SectionImagen img{ 
    border-radius: 10px;
}
.SectionImagen{
    height: 600px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 10px var(--GrisClaro);
    margin: 3% 13% 0 13%;

}

.SectionBienvenida{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    margin: 2% 5% 0 5%;
    padding: 3%;
    border-radius: 4px;
    
}
.ArticleBienvenida{
    display: flex;
    font-family: Arial, sans-serif;
    font-weight: 400;
    background-color: var(--GrisClaro);
    border: 1px solid var(--Gris);
    border-radius: 4px;
    padding: 12px;
    flex-direction: row;
    margin-bottom: 1%;
    align-items: center;
    gap: 1%;

}
.ArticleBienvenida .bi{
    font-size: 4rem;
}
.SectionBienvenida h2{
    
    color: var(--Azul);
    display: flex;
    text-align: center;
    margin-bottom: 3%;
    justify-content: center;
    
}

@media (max-width: 768px) {
    .SectionImagen{
    width: 550px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
}