* {
    box-sizing: border-box;
}

:root {
    --Azul: #4A4C91;
    --AzulClaro: #6d6fa3;
    --AzulOscuro: #343576;
    --DoradoClaro: #DFD398;
    --GrisClaro: #eeeeee;
    --Gris: #999999;
    --GrisOscuro: #757575;
    --Blanco: #f8f8fa;
    --Negro: #101010;
}


.SectionFormularioLogin { 
    margin-top: 2%;
    background-color: var(--Blanco);
}


.ButtonIngresar{
    background-color: var(--Azul);
    color: var(--Blanco);
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    border: none;

}
.AIngresar {
    width: 100%;
}
.user{
    text-indent: 30px;
}
.password{
    text-indent: 30px;
}
.SectionFormularioLogin div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.LabelIconoUser{
    z-index: 1;
    position: absolute;
    left: 31%;
}
.LabelIconoPassword{
    z-index: 1;
    position: absolute;
    left: 31%;
}
.LabelCerradoIcon{
    z-index: 1;
    position: absolute;
    right: 31%;
    font-size: 2rem;
}

@media (max-width: 576px) {
    
.LabelIconoUser{
    z-index: 1;
    position: absolute;
    left: 22%;
}
.LabelIconoPassword{
    z-index: 1;
    position: absolute;
    left: 23%;
}
.LabelCerradoIcon{
    z-index: 1;
    position: absolute;
    right: 23%;
    font-size: 2rem;
}

}
