* {
    box-sizing: border-box;
}

:root {
    --Azul: #4A4C91;
    --AzulClaro: #6d6fa3;
    --AzulOscuro: #343576;
    --DoradoClaro: #DFD398;
    --GrisClaro: #eeeeee;
    --Gris: #999999;
    --GrisOscuro: #757575;
    --Blanco: #f8f8fa;
    --Negro: #101010;
}


.ButtonSalones{
    background-color: var(--Blanco);
    color: var(--Azul);
    padding: 10px;
    font-size: 2rem;
    border: 1px solid var(--Azul);
    border-radius: 10px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-decoration: none;

}
.ButtonInventario{
    background-color: var(--Blanco);
    color: var(--Azul);
    padding: 10px;
    font-size: 2rem;
    border: 1px solid var(--Azul);
    border-radius: 10px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-decoration: none;


}

.ButtonEquipos{
    background-color: var(--Blanco);
    color: var(--Azul);
    padding: 10px;
    font-size: 2rem;
    border: 1px solid var(--Azul);
    border-radius: 10px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-decoration: none;


}

.ButtonTickets{
    background-color: var(--Blanco);
    color: var(--Azul);
    padding: 10px;
    font-size: 2rem;
    border: 1px solid var(--Azul);
    border-radius: 10px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-decoration: none;


}
.ButtonSolicitudes{
    background-color: var(--Blanco);
    color: var(--Azul);
    padding: 10px;
    font-size: 2rem;
    border: 1px solid var(--Azul);
    border-radius: 10px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-decoration: none;


}