* {
    box-sizing: border-box;
}

:root {
    --Azul: #4A4C91;
    --AzulClaro: #6d6fa3;
    --AzulOscuro: #343576;
    --DoradoClaro: #DFD398;
    --GrisClaro: #eeeeee;
    --Gris: #999999;
    --GrisOscuro: #757575;
    --Blanco: #f8f8fa;
    --Negro: #101010;
}
.TableEmpleados {
    width: 60%;
}
.SectionEmpleados{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    flex-direction: column;
    
    
}
.ButtonAgregarSalon{
    width: 8%;
    margin-top: 2%;
    margin-right: 52%;
    border: 1px solid var(--Negro);
    background-color: var(--Azul);
    color: var(--Blanco);
}
.ButtonAgregarSalon:hover{
    color: var(--Negro);
    background-color: var(--AzulClaro);
    border: 1px solid var(--GrisClaro);
}

.DivAccion{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ButtonEliminar {
    border: 1px solid var(--Negro);
    background-color: var(--Azul);
    color: var(--Blanco);
}
.ButtonEliminar:hover {
    color: var(--Negro);
    background-color: var(--AzulClaro);
    border: 1px solid var(--GrisClaro);
}



.TableEmpleados tr,.TableEmpleados th,.TableEmpleados td{
    border: 1px solid var(--Gris);
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-size: 1.2rem;
}
.TableEmpleados thead{
    background-color: var(--Azul);
    color: var(--Blanco);
}


@media (max-width: 768px) {
    
.TableEmpleados {
    width: 20%;
}

.TableEmpleados, tr, th, td{
    font-size: 1.1rem;
}

}