* {
    box-sizing: border-box;
}

:root {
    --Azul: #4A4C91;
    --AzulClaro: #6d6fa3;
    --AzulOscuro: #343576;
    --DoradoClaro: #DFD398;
    --GrisClaro: #eeeeee;
    --Gris: #999999;
    --GrisOscuro: #757575;
    --Blanco: #f8f8fa;
    --Negro: #101010;
}
.TableEmpleados {
    width: 60%;
}
.SectionEmpleados{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    flex-direction: column;
    
    
}
.ButtonAgregarSalon{
    width: 8%;
    margin-top: 2%;
    margin-right: 52%;
    border: 1px solid var(--Negro);
    background-color: var(--Azul);
    color: var(--Blanco);
}
.ButtonAgregarSalon:hover{
    color: var(--Negro);
    background-color: var(--AzulClaro);
    border: 1px solid var(--GrisClaro);
}

.DivAccion{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ButtonEditar, .ButtonEliminar {
    border: 1px solid var(--Negro);
    background-color: var(--Azul);
    color: var(--Blanco);
}
.ButtonEditar:hover, .ButtonEliminar:hover {
    color: var(--Negro);
    background-color: var(--AzulClaro);
    border: 1px solid var(--GrisClaro);
}

.DialogGestionarEmpleados{
    width: 50%;
}

.FieldsetEmpleados{
    width: 100%;
}

.ButtonCerrarGestionarEmpleados{
    display: flex;
    padding: 3px;
    border: 1px solid var(--Negro);
    background-color: var(--Azul);
    color: var(--Blanco);

}
.ButtonCerrarGestionarEmpleados:hover{
    background-color: var(--AzulClaro);
    color: var(--Negro);
    border: 1px solid var(--GrisClaro);
}
.ButtonAceptar {
    background-color: var(--Azul);
    color: var(--Blanco);
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    border: none;
    margin-top: 10px;

}

.TableEmpleados tr,.TableEmpleados th,.TableEmpleados td{
    border: 1px solid var(--Gris);
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-size: 1.2rem;
}
.TableEmpleados thead{
    background-color: var(--Azul);
    color: var(--Blanco);
}


@media (max-width: 576px) {
    
.TableEmpleados {
    width: 20%;
}

.TableEmpleados, tr, th, td{
    font-size: 1.1rem;
}

}