* {
    box-sizing: border-box;
}

:root {
    --Azul: #4A4C91;
    --AzulClaro: #6d6fa3;
    --AzulOscuro: #343576;
    --DoradoClaro: #DFD398;
    --GrisClaro: #eeeeee;
    --Gris: #999999;
    --Blanco: #f8f8fa;
}
.ButtonRegistrarUsuario{
    background-color: var(--Blanco);
    color: var(--Azul);
    width: 100%;
    padding: 18px 8%;
    font-size: 2rem;
    border: 1px solid var(--Gris);
    border-radius: 10px;
    margin-top: 3%;

}

.SectionFormularioUsuarios{
    margin-top: 2%;
    background-color: var(--Blanco);
}