* {
    box-sizing: border-box;
}

:root {
    --Azul: #4A4C91;
    --AzulClaro: #6d6fa3;
    --AzulOscuro: #343576;
    --DoradoClaro: #DFD398;
    --GrisClaro: #eeeeee;
    --Gris: #999999;
    --Blanco: #f8f8fa;
}

.SectionFormularioLogin { 
    margin-top: 2%;
    background-color: var(--Blanco);
}


.ButtonIngresar{
    background-color: var(--Azul);
    color: var(--Blanco);
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    border: none;

}
.AIngresar {
    width: 100%;
}
.user{
    text-indent: 30px;
}
.password{
    text-indent: 30px;
}

.LabelIconoUser{
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 31%;
}
.LabelIconoPassword{
    z-index: 1;
    position: absolute;
    top: 53%;
    left: 31%;
}
.LabelCerradoIcon{
    z-index: 1;
    position: absolute;
    top: 52%;
    right: 31%;
    font-size: 2rem;
}