* {
    box-sizing: border-box;
}

:root {
    --Azul: #4A4C91;
    --AzulClaro: #6d6fa3;
    --AzulOscuro: #343576;
    --DoradoClaro: #DFD398;
    --GrisClaro: #eeeeee;
    --Blanco: #f8f8fa;
}

.SectionFormularioLogin { 
    background-color: var(--Blanco);
}

.Inputllenar { 
    background-color: var(--Blanco);
}

fieldset{
    border: none;
}
legend{
    color: var(--Azul);
}